﻿<div class="budget-toolbar row">
    <div id="group-create" class="budget-toolbar-button button" data-bind="click: toggleGroupForm">
        <i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>
        Add Group
    </div>
    <div class="budget-toolbar-button button">
        <i class="fa fa-undo fa-fw" aria-hidden="true"></i>
        @Html.ActionLink("Undo", "Index")
    </div>
    <div class="budget-toolbar-button button">
        <i class="fa fa-repeat fa-fw" aria-hidden="true"></i>
        @Html.ActionLink("Redo", "Index")
    </div>
</div>