﻿<div class="budget-options-menu popup-menu" style="display: none">
    <ul>
        <li class="budget-create button">
            <i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>
            |
            <span>Create Budget</span>
        </li>
        <a href=@Url.Action("Open")>
            <li class="budget-open button">
                <i class="fa fa-folder-open fa-fw" aria-hidden="true"></i>
                |
                <span>Open Budget</span>
            </li>
        </a>
    </ul>
    <div class="menu-arrow"></div>
</div>