﻿@using MoneyManager.Core.Models.Budgets
@model BudgetModel

@{
    ViewBag.Title = "Budget";
    Layout = "~/Views/Shared/_BudgetLayout.cshtml";
}

<div id="main-content">
    <div style="min-width: 500px">
        <div class="board">
            @Html.Partial("BudgetTable/BudgetTable", Model)
        </div>
    </div>
</div>

@Html.Partial("../Budget/Pop-up Forms/CreateGroupForm", new BudgetGroupModel { BudgetId = Model.Id })

@section scripts {
    @Scripts.Render("~/Content/js")
}