﻿@model IEnumerable<MoneyManager.Core.Models.Budgets.BudgetModel>

@{
    ViewBag.Title = "My Budgets";
}

<div style="padding: 20px 40px; display: inline-block">    
    <h3 id="page-title">My Budgets</h3>
    @foreach (var model in Model)
    {
        var id = model.Id;
        var name = model.Name;
        <div class="icon open-budget-icon button" data-id=@id>
            <div class="box-icon-overlay-hider" style="display: none">
                <a href=@Url.Action("Index",new {id = model.Id})>
                    <div class="box-icon box-icon-overlay">
                        <div class="budget-name-wrapper" style="height: 80%">
                            <strong style="color: white">@name</strong>
                        </div>
                    </div>
                </a>
                <div class="delete-budget" data-delete-url="@Url.Action("Delete", "Budget")" data-id=@id>
                    <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="box-icon">
                <div class="budget-thumbnail"></div>
                <div class="budget-name-wrapper">
                    <strong>@name</strong>
                </div>
            </div>
        </div>
    }
    <div id="create-budget" class="icon button">
        <div class="box-icon">
            <div class="budget-create-wrapper">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <div>Create New Budget</div>
            </div>
        </div>
    </div>
</div>
@if (Model.Count() > 10)
{
    <div style="width: 100%">
        <div id="budget-load-bar" class="button">
            <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/Content/js")
}