﻿@main-theme-colour: #8ac9ce;
@main-text-colour: #3e3e3e;

@side-menu-width: 300px;
#main-content {
    margin-left: @side-menu-width;
    background-image: -webkit-linear-gradient(top, lighten(@main-theme-colour, 35%) 0%, lighten(@main-theme-colour, 25%) 100%);
}
#sidemenu {
    font-family: verdana;
    font-size: 12px;
    background-image: -webkit-linear-gradient(top, lighten(@main-theme-colour, 10%) 0%, @main-theme-colour 100%);
    position: fixed;
    width: @side-menu-width;
    height: 100%;
    color: @main-text-colour;
    box-shadow: 2px 0 15px rgba(0,0,0,0.3);
    border-right: solid 1px darken(@main-theme-colour, 20%);
    z-index: 1;
    #brand-name {
        background-color: darken(@main-theme-colour, 20%);
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        border-bottom: inset 2px darken(@main-theme-colour, 30%);
    }
    .toggle-btn {
        display: none;
    }
    ul, li {
        list-style: none;
        padding: 0px;
        line-height: 35px;
        cursor: pointer;
        .active {
            border-left: 3px solid #C19435;
            background-color: lighten(@main-theme-colour, 16%);
        }
        .sub-menu li {
            &.active {
                a {
                    background-color: @main-theme-colour;
                    border: none;
                    line-height: 28px;
                    border-bottom: 1px solid lighten(@main-theme-colour, 16%);
                    margin-left: 0px;
                }
                background-color: #181c20;
                border: none;
                line-height: 28px;
                border-bottom: 1px solid lighten(@main-theme-colour, 16%);
                margin-left: 0px;
            }
            &:hover{
                background-color: #020203;
            }
            &:before{
                font-family: FontAwesome;
                content: "\f105";
                display: inline-block;
                padding-left: 10px;
                padding-right: 10px;
                vertical-align: middle;
            }
            background-color: #181c20;
            border: none;
            line-height: 28px;
            border-bottom: 1px solid #23282e;
            margin-left: 0px;
        }
        :not(collapsed) .arrow:before {
            font-family: FontAwesome;
            content: "\f078";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
            float: right;
        }
    }
    li {
        border-left: 3px solid @main-theme-colour;
        border-bottom: 1px solid darken(@main-theme-colour, 10%);
        a {
            text-decoration: none;
            color: @main-text-colour;
            i {
                padding-left: 10px;
                padding-right: 20px;
            }
        }
        &:hover {
            border-left: 3px solid #C19435;
            background-color: lighten(@main-theme-colour, 16%);
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }
    }
}

.board {
    margin: 20px;
    border: 2px solid #eaeaea;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    .board-title {
        padding: 10px 16px;
        font-size: 18px;
        background-color: #e5e5e5;
        border: 1px solid #e0e0e0;
        border-bottom: 2px outset #eaeaea;
        display: flex;
        #budget-edit, #budget-delete {
            font-size: 1.2em;
            margin-left: 20px;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

#budget-table {
    z-index: 0;
    .budget-edit, .budget-delete{
        float: left;
        margin-left: 20px;
    }
    .table-checkbox {
        margin: 0 10px;
    }
    .budget-group-dropper{
        margin: 0 10px;
    }

    // Row styles
    tr{
        border-bottom: 1px solid lighten(#ddd, 5%);
        .currency{
            text-align: center;
        }
        td[rowspan]{
            vertical-align: middle;
        }
        &.hovered {
            background-color: #f5f5f5;
        }
    }
    tr.budget-category-row {
        border-bottom: 0px;
        [rowspan]{
            border-bottom: 1px solid lighten(#ddd, 5%);
        }
        .column-budgeted {
            display: flex;
            width: 100%;
            div{
                transition: all ease 0.5s;
                float: left;
                flex: auto;
                font-size: 100%;
                &.input-selected {
                    font-size: 0;
                }
            }
            input {
                transition: all ease 0.5s;
                border-width: 0;
                margin: 0 auto;
                height: 0;
                padding: 0;
                width: 0;
                float: right;
                &.show-budgeted-input {
                    height: 25%;
                    padding: 0;
                    width: 50%;
                    border-width: 1px;
                }
                &:focus {
                    height: 100%;
                    padding: inherit;
                    width: 100%;
                }
            }
        }
    }

    // Availabe Column stuff
    .negative {
        background-color: red;
    }
    .positive{
        background-color: green;
    }
    .percentage-bar {
        background-color: grey;
        border-radius: 7px;
        border: 1px solid black;
        div {
            border-radius: 7px;
            height: 10px;
            border-right: 1px solid black;
        }
    }
}
#edit-budget-menu {
    width: 400px;
    label {
        float: left;
    }
    .action-buttons{
        text-align: right;
    }
}

@media (max-width: 767px) {
    #sidemenu {
        position: relative;
        width: 100%;
        .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10 !important;
            padding: 3px;
            background-color: #ffffff;
            color: #000;
            width: 40px;
            text-align: center;
            border-radius: 3px;
        }
        #brand-name {
            text-align: left !important;
            font-size: 22px;
            padding-left: 20px;
        }
    }
}
@media (min-width: 767px) {
    #sidemenu .menu-list .menu-content {
        display: block;
    }
}

body {
  margin: 0px;
  padding: 0px;
}

// Global
.button:hover, .clickable:hover {
    cursor: pointer;
}