﻿#main-content {
  margin-left: 300px;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e4f2f4 100%);
}
#sidemenu {
  font-family: verdana;
  font-size: 12px;
  background-image: -webkit-linear-gradient(top, #aedadd 0%, #8ac9ce 100%);
  position: fixed;
  width: 300px;
  height: 100%;
  color: #3e3e3e;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.3);
  border-right: solid 1px #47a3ab;
  z-index: 1;
}
#sidemenu #brand-name {
  background-color: #47a3ab;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  border-bottom: inset 2px #388187;
}
#sidemenu .toggle-btn {
  display: none;
}
#sidemenu ul,
#sidemenu li {
  list-style: none;
  padding: 0px;
  line-height: 35px;
  cursor: pointer;
}
#sidemenu ul .active,
#sidemenu li .active {
  border-left: 3px solid #C19435;
  background-color: #c4e4e6;
}
#sidemenu ul .sub-menu li,
#sidemenu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
#sidemenu ul .sub-menu li.active,
#sidemenu li .sub-menu li.active {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #c4e4e6;
  margin-left: 0px;
}
#sidemenu ul .sub-menu li.active a,
#sidemenu li .sub-menu li.active a {
  background-color: #8ac9ce;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #c4e4e6;
  margin-left: 0px;
}
#sidemenu ul .sub-menu li:hover,
#sidemenu li .sub-menu li:hover {
  background-color: #020203;
}
#sidemenu ul .sub-menu li:before,
#sidemenu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
#sidemenu ul :not(collapsed) .arrow:before,
#sidemenu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
#sidemenu li {
  border-left: 3px solid #8ac9ce;
  border-bottom: 1px solid #66b8bf;
}
#sidemenu li a {
  text-decoration: none;
  color: #3e3e3e;
}
#sidemenu li a i {
  padding-left: 10px;
  padding-right: 20px;
}
#sidemenu li:hover {
  border-left: 3px solid #C19435;
  background-color: #c4e4e6;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.board {
  margin: 20px;
  border: 2px solid #eaeaea;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
.board .board-title {
  padding: 10px 16px;
  font-size: 18px;
  background-color: #e5e5e5;
  border: 1px solid #e0e0e0;
  border-bottom: 2px outset #eaeaea;
  display: flex;
}
.board .board-title #budget-edit,
.board .board-title #budget-delete {
  font-size: 1.2em;
  margin-left: 20px;
}
.board .board-title #budget-edit:hover,
.board .board-title #budget-delete:hover {
  transform: scale(1.2);
}
#budget-table {
  z-index: 0;
}
#budget-table .budget-edit,
#budget-table .budget-delete {
  float: left;
  margin-left: 20px;
}
#budget-table .table-checkbox {
  margin: 0 10px;
}
#budget-table .budget-group-dropper {
  margin: 0 10px;
}
#budget-table tr {
  border-bottom: 1px solid #eaeaea;
}
#budget-table tr .currency {
  text-align: center;
}
#budget-table tr td[rowspan] {
  vertical-align: middle;
}
#budget-table tr.hovered {
  background-color: #f5f5f5;
}
#budget-table tr.budget-category-row {
  border-bottom: 0px;
}
#budget-table tr.budget-category-row [rowspan] {
  border-bottom: 1px solid #eaeaea;
}
#budget-table tr.budget-category-row .column-budgeted {
  display: flex;
  width: 100%;
}
#budget-table tr.budget-category-row .column-budgeted div {
  transition: all ease 0.5s;
  float: left;
  flex: auto;
  font-size: 100%;
}
#budget-table tr.budget-category-row .column-budgeted div.input-selected {
  font-size: 0;
}
#budget-table tr.budget-category-row .column-budgeted input {
  transition: all ease 0.5s;
  border-width: 0;
  margin: 0 auto;
  height: 0;
  padding: 0;
  width: 0;
  float: right;
}
#budget-table tr.budget-category-row .column-budgeted input.show-budgeted-input {
  height: 25%;
  padding: 0;
  width: 50%;
  border-width: 1px;
}
#budget-table tr.budget-category-row .column-budgeted input:focus {
  height: 100%;
  padding: inherit;
  width: 100%;
}
#budget-table .negative {
  background-color: red;
}
#budget-table .positive {
  background-color: green;
}
#budget-table .percentage-bar {
  background-color: grey;
  border-radius: 7px;
  border: 1px solid black;
}
#budget-table .percentage-bar div {
  border-radius: 7px;
  height: 10px;
  border-right: 1px solid black;
}
#edit-budget-menu {
  width: 400px;
}
#edit-budget-menu label {
  float: left;
}
#edit-budget-menu .action-buttons {
  text-align: right;
}
@media (max-width: 767px) {
  #sidemenu {
    position: relative;
    width: 100%;
  }
  #sidemenu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
    border-radius: 3px;
  }
  #sidemenu #brand-name {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
  }
}
@media (min-width: 767px) {
  #sidemenu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
.button:hover,
.clickable:hover {
  cursor: pointer;
}