﻿@using MoneyManager.Core.Models.Budgets

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Bootstrap")
        @Styles.Render("~/BudgetIndex")
        @Styles.Render("~/Content/css")
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div id="sidemenu">
            <div id="brand-name">Money Manager</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse out">
                    <li id="budgets-options-menu-tab">
                        <a href="#">
                            <i class="fa fa-money fa-lg"></i>Budgets
                        </a>
                        <div data-toggle="modal" data-target="#create-budget-form">
                            <i id="budget-create" class="fa fa-plus-circle" aria-hidden="true"></i>
                        </div>
                    </li>
                    <li id="accounts-tab" data-toggle="collapse" data-target="#accounts-list" class="collapsed active">
                        <a href="#"><i class="fa fa-credit-card fa-lg"></i>Accounts<span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="accounts-list">
                    </ul>
                </ul>
            </div>
        </div>

        @RenderBody()
        
        @Html.Partial("Forms/CreateBudgetForm", new BudgetModel())
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Content/knockout")
        @RenderSection("scripts", required: false)

    </body>
</html>
