﻿@model MoneyManager.Core.Models.Budgets.BudgetGroupModel

<div class="modal fade" id="create-group-form" tabindex="-1" role="dialog"
     aria-labelledby="create-group-form-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-group-form-label">Create a Category Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "BudgetGroup", FormMethod.Post,
                new { @class = "ajax-form form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(x => x.BudgetId)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "Group Name:", new { @class = "control-label" })
                        <div class="input">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            <div class="validation-error">
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="cancel btn btn-default">Cancel</button>
                        <button type="button" class="submit btn btn-default">Create Group</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>