﻿@model MoneyManager.Core.Models.Budgets.BudgetCategoryModel

<tr class="create-category-form">
    <td colspan="6">
        <table>
            <tr>
                <td>
                    @using (Html.BeginForm("Create", "BudgetCategory", FormMethod.Post,
                        new
                        {
                            @class = "ajax-form",
                            role = "form",
                            attach_to = "GroupRow.addCategory",
                            ko_model = "CategoryRow"
                        }))
                    {
                        @Html.HiddenFor(x => x.BudgetGroupId)
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="cancel btn btn-default">Cancel</button>
                            <button type="button" class="submit btn btn-default">Create Category</button>
                        </div>
                    }
                </td>

            </tr>
        </table>
    </td>
</tr>