﻿@model MoneyManager.Core.Models.Budgets.BudgetModel

<form class="ajax-form form-horizontal" role="form" action=@Url.Action("Delete","Budget") method="delete">
    @Html.HiddenFor(x => x.Id)
    <div class="message">
        <p>Are you sure you want to delete this budget?</p>
        <p><span>This cannot be reversed.</span></p>
        <p>Like, even if you ask nicely.</p>
    </div>
    <div class="action-buttons">
        <button type="button" data-toggle="dropdown" class="dropdown-toggle cancel btn btn-default">Cancel</button>
        <button type="button" class="submit btn btn-primary">Delete</button>
    </div>
</form>