﻿@model MoneyManager.Core.Models.Budgets.BudgetModel

<form class="ajax-form form-horizontal" role="form" action=@Url.Action("UpdateName","Budget") method="put">
    @Html.HiddenFor(x => x.Id)
    <div class="input form-group">
        @Html.LabelFor(model => model.Name, "Budget Name:", new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Name, new { Value="", @class = "input-md form-control",
                                                        id = "budget-name-text-input", placeholder = "New Name" })
        </div>
        <div id="budget-name-field-validation">
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger validation-error"})
        </div>
    </div>
    <div class="action-buttons">
        <button type="button" data-toggle="dropdown" class="dropdown-toggle cancel btn btn-default">Cancel</button>
        <button type="button" class="submit btn btn-primary">Submit</button>
    </div>
</form>
