﻿@model MoneyManager.Core.Models.Budgets.BudgetModel

<div class="modal fade" id="create-budget-form" tabindex="-1" role="dialog" aria-labelledby="create-budget-formLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-budget-formLabel">Create a Budget</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Budget", FormMethod.Post,
                    new { @class = "form-horizontal", role = "form"}))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "Budget Name:", new { @class = "control-label" })
                        <div class="input">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            <div class="validation-error">
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="cancel btn btn-default">Cancel</button>
                        @*<button type="button" class="submit btn btn-default">Create Budget</button>*@
                        <input type="submit" value="Create Budget"/>
                    </div>
                }
            </div>
        </div>
    </div>
</div>