﻿@using MoneyManager.Core.Models.Budgets
@model BudgetModel

<div id="budget-table" data-budget-id=@Model.Id data-group-get-url=@Url.Action("Get", "BudgetGroup")>
    <div class="board-title">
        <div id="budget-name">@Model.Name</div>
        <div class="dropdown" style="top: 4px">
            <i id="budget-edit" data-toggle="dropdown" class="button dropdown-toggle fa fa-pencil-square-o" aria-hidden="true"></i>
            <div id="edit-budget-menu" class="dropdown-menu" aria-labelledby="budget-edit">
                @Html.Partial("Pop-up Forms/EditBudgetNameForm")
            </div>
        </div>
        <div class="dropdown" style="top: 2px">
            <i id="budget-delete" data-toggle="dropdown" class="button dropdown-toggle fa fa-trash-o" aria-hidden="true"></i>
            <div id="delete-budget-form" class="dropdown-menu" aria-labelledby="budget-delete">
                @Html.Partial("Pop-up Forms/DeleteBudgetForm", Model)
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr id="budget-heading-row" row-data>
            <th>
                <div class="table-checkbox">
                    <input type="checkbox" data-bind="click: selectAll()">
                </div>
            </th>
            <th></th>
            <th class="budget-table-heading">CATEGORY
                @Html.ModalButton("#create-group-form", "group-create", "fa fa-plus-square-o")
            </th>
            <th class="budget-table-heading column-budgeted currency">BUDGETED</th>
            <th class="budget-table-heading column-cash-flow currency">CASH FLOW</th>
            <th class="budget-table-heading column-available currency">AVAILABLE</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var group in Model.BudgetGroups)
        {
            @Html.Partial("BudgetTable/GroupRow", group)
            @Html.Partial("Pop-up Forms/CreateCategoryForm", new BudgetCategoryModel {BudgetGroupId = group.Id})
            foreach (var category in group.BudgetCategories)
            {
                @Html.Partial("BudgetTable/CategoryRow", category)
            }
        }
        </tbody>
    </table>
</div>
