﻿@model MoneyManager.Core.Models.Budgets.BudgetCategoryModel

<tr class="budget-category-row">
    <td rowspan="2">
        <div class="budget-group-checkbox table-checkbox">
            <input type="checkbox">
        </div>
    </td>
    <td rowspan="2"></td>
    <td rowspan="2" class="budget-table-column col-xs-6">
        <div class="budget-category-name">@Model.Name</div>
    </td>
    <td class="budget-table-column column-budgeted col-xs-2 currency">
        <div>@Model.BudgetedValue</div>
        <input type="text" class="form-control">
    </td>
    <td class="budget-table-column column-cash-flow col-xs-2 currency">
        <div>@Model.ActivityValue</div>
    </td>
    <td class="budget-table-column column-available col-xs-2 currency">
        <div>@Model.Available</div>
    </td>
</tr>
<tr>
    <td colspan="3" style="padding-top: 0">
        <div class="percentage-bar">
        </div>
    </td>
</tr>