﻿@model MoneyManager.Core.Models.Budgets.BudgetGroupModel


<tr class="budget-group-row" data-group-id="@Model.Id">
    <td>
        <div class="budget-group-checkbox table-checkbox">
            <input type="checkbox" />
        </div>
    </td>
    <td>
        <div class="budget-group-dropper button">
             <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
    </td>
    <td class="budget-table-column col-xs-6">
        <div class="budget-group-name">@Model.Name</div>
        <i class='button category-create fa fa-plus-square-o' aria-hidden='true'></i>
    </td>
    <td class="budget-table-column column-budgeted col-xs-2 currency">£0.00</td>
    <td class="budget-table-column column-cash-flow col-xs-2 currency">£0.00</td>
    <td class="budget-table-column column-available col-xs-2 currency">£0.00</td>
</tr>